node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts

# custom
media/**/*.mp3
media/**/*.wav
media/**/*.mp4
media/**/*.png
media/**/*.jpg
media/**/*.jpeg

# 1.4 MB 太大了，不传 GitHub 了
public/live2d/txt-bundle-for-dev.json
